body {
  height: 97vh;
  width: 97vh;
  /* width: 100vw;
  max-height: 100vw;
  min-height: 100vw; */
  background-color: black;
}

div{
  width: 100%;
  height: 100%
}

div#app {
  width: 100%;
  height: 100%;
  position: absolute;
}

div.start{
  color: white;
  position: absolute;
  font-family: "Manrope", sans-serif;
  height: auto;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start button:hover{
  font-size: 50px;
  background-color: darkslateblue;
}

div#container{
  cursor: url('images/bubbleSmall.png'), pointer;
  overflow: hidden;
}

div.main{
  z-index: -10;
}

.fullscreen{
  background-color: black;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullScreen{
  overflow: hidden;
  position: relative;
}

.fullscreen iframe{
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%
}
