@font-face {
  font-family: "Manrope";
  src: url('fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

body {
  height: 97vh;
  width: auto;
  background-color: black;
  font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1600 - 300)));
  cursor: url('images/bubbleSmall.png'), pointer;
  color: white;
  font-family: "Manrope", sans-serif;
}

div {
  width: 100%;
  height: 100%;
}

button{
  font-size: 1em;
  background-color: white;
  border-radius: 0.3em;
  border: solid 0.05em white;
}

button:hover {
  cursor: pointer;
  font-size: 5em;
  background-color: darkslateblue;
}

.main{
  z-index: -10;
  text-align: center;
}

.start{
  color: white;
  position: absolute;
  height: auto;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.smallText {
  font-size: 0.7em;
  text-align: center;
}

.main button#go {
  font-size: 1em;
  z-index: 100;
  bottom: 20px;
  position: absolute;
  height: 1.5em;
  width: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main button#go:hover {
  cursor: pointer;
  font-size: 5em;
  background-color: darkslateblue;
}

button.smallButton {
  font-size: 0.5em;
  position: relative;
  background-color: black;
  color: white;
}

button.smallButton:hover {
  font-size: 1em;
  background-color: darkslateblue
}

.fullscreen{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
}

/* 
#app {
  position: absolute;
}

.fullscreen iframe{
  border: 0;
  left: 0;
  top: 0;
  width: 97%;
  height: 97%
}

} */